//
//  Secrets.xcconfig
//  withUIKit
//
//  Created by Joel Rosa Tavares on 24/06/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

MOVIE_SERVICE_API_KEY = e948e2a3ffe5a1f3340619d63ce16ed6
